/*--------------------------Bubbles-----------------------------*/

.one {
	position:absolute;
	left: 10px; top: 10px;
}

.two {
	position:absolute;
	left: 250px; top: 300px;
}

/* Color Scheme
/* #6C95EC lighter blue
/* 3D61AD darker blue
/* #81E1AF seafoam (lighter) green
/* #41A06F darker green
